<html>
<head>
  {{> header}}
  <title>Start Adding Food Item</title>
</head>
<body class="container">
  <h1>Add New Food Item</h1>
  <div>
    <a href="/food/post" class="btn btn-primary">Proceed to Add Food Item</a>
    <a href="/foods" class="btn btn-secondary">Back to Food Items</a>
  </div>
</body>
</html>